**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/REMOVEDs.dev.yaml
**/values.dev.yaml
**/build
**/dist
LICENSE
README.md
.gitignore
*.md
LOCAL_SECRETS.md