# dependencies
node_modules
.yarn

# production
dist
build

# misc
.DS_Store
*.local
.env*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing
coverage

# vite
*.config.ts
vite.config.ts
tailwind.config.js
postcss.config.js

# storybook
.storybook
*.stories.ts

# data files
*.json
public/
